body {
  margin: 0;
  padding: 0;
}

.wrapper {
  padding: 10px;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  background: #efefef;
  padding: 20px;
}

textarea {
  display: inline-block;
  width: 100%;
  min-width: 200px;
  max-width: 100%;
  min-height: 200px;
  padding: 10px;
  box-sizing: border-box;
  margin: 10px 0;
  line-height: 1.5;
}

.container {
  position: relative;
}

#copy-template,
#copy-data,
#copy-output {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  right: 25px;
  bottom: 25px;
  z-index: 10;
}

.arrow {
  font-size: 2em;
  font-weight: bold;
}

h1 {
  font-family: cursive;
  font-weight: normal;
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

@media screen and (max-width: 400px) {
  .wrapper {
    padding: 15px;
  }
  h1 {
    font-size: 1.5rem;
  }
  p {
    font-size: .9rem;
  }
}
